{% extends "::base.html.twig" %}

{% block body %}
    <form action="{{ path('tactics_edit_user', { username: username } ) }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'save changes'|trans({}, 'FOSUserBundle') }}" />
        </div>
    </form>
{% endblock body %}
