{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Create transaction for <b>{{ user.firstname }}</b></h1>
    {{ form(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.getElementById("tactics_opleidingsbudgetbundle_transaction_amount").value = "";
    </script>
{% endblock %}
